{% extends "plan/base.html" %}
{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load crispy_forms_tags %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block style_block %}
.centering{
text-align: center;
}
td {
padding: 5px;
}
{% endblock %}

{% block title %}НПО Поиск{% endblock %}

{% block content %}
<h1>Склад</h1>
{% if user.is_authenticated == False %}
<p>Для доступа к системе Вам надо войти или зарегистрироваться</p>
{% else %}

{% endif %}
{% endblock %}

{% block navigating %}
<a href="/stock/" class="btn btn-default">Главная</a>
<a href="/stock/stock_balance/{{area_id}}/" class="btn btn-default">Баланс на складе</a>
<a href="/stock/wrExtradition/{{area_id}}/" class="btn btn-info">Выдача по наряду</a>
<a href="/stock/wrAcceptance/{{area_id}}/" class="btn btn-default">Приёмка по наряду</a>
<a href="/stock/acceptance/{{area_id}}/" class="btn btn-default">Поставка</a>
<a href="/stock/providers/" class="btn btn-default">Поставщики</a>

{% endblock %}

{% block sub_content %}
<br>


<H3 align="center">Выдача оборудования {{wr.worker}}</H3>
<table width="60%" align="center">
    <thead>
    <tr>
        <td><b>Оборудование</b></td>
        <td align="center"><b>Плановая</b></td>
        <td align="center"><b>Внеплановая</b></td>
        <td align="center"><b>Сумма/Остаток</b></td>

    </tr>
    </thead>
    {% for e in pE%}
    <tr>
        <td>{{e.equipment.name}}</td>
        <td align="center">{{e.plan}}</td>
        <td align="center">{{e.nonPlan}}</td>
        <td align="center">{{e.sum}}/{{e.remain}}</td>
    </tr>
    {%endfor%}
</table>

<div align="center"> <a href='/stock/doWrExtradition/{{wr.pk}}/'  class="btn btn-primary" onclick="YNconfirm(); return false;">Выдать</a> </div>

<script>

    function YNconfirm() {
 if (window.confirm('Вы подтверждаете выдачу оборудования по текущему наряду?'))
 {
   window.location.href = '/stock/doWrExtradition/{{wr.pk}}/';
 }
}
</script>

{% endblock %}

{% block error_messages %}
{% endblock %}