{% extends "plan/base.html" %}
{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load crispy_forms_tags %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block title %}НПО Поиск{% endblock %}

{% block content %}
<h1>Конструкторам</h1>
{% if user.is_authenticated == False %}
<p>Для доступа к системе Вам надо войти или зарегистрироваться</p>
{% else %}

{% endif %}
{% endblock %}

{% block navigating %}
<a href="/constructors/reports/" class="btn btn-default">Наряды</a>
    <a href="/constructors/list/equipment/0/{{area_id}}/" class="btn btn-default">Оборудование</a>
    <a href="/constructors/list/equipment/1/{{area_id}}/" class="btn btn-default">Материалы</a>
    <a href="/constructors/list/equipment/2/{{area_id}}/" class="btn btn-default">Детали</a>
    <a href="/constructors/list/equipment/3/{{area_id}}/" class="btn btn-default">Сборочные единицы</a>
    <a href="" class="btn btn-info">Редактировать работу</a>

<a href="/constructors/list/standartWork/" class="btn btn-default">Стандартные работы</a>
{% endblock %}


{% block sub_content %}


<br>

<form method="post" class="formset_form">
    {% csrf_token %}

    {{ form.management_form }}
    <table>
        <tr>
             <td valign="top">{% bootstrap_field form.text %}</td>
             <td valign="top">{% bootstrap_field form.positionsEnable %}</td>
             <td valign="top">{% bootstrap_field form.duration %}</td>
        </tr>

        <tr>
            <td >   {% bootstrap_field form.needVIK %}</td>
        </tr>
    </table>
    <input align="center" class="btn btn-primary" type="submit" value="Сохранить" class="button"/>

</form>



{% endblock %}


{% block error_messages %}
{% endblock %}
