equipmentList.html{% extends "plan/base.html" %}
{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load crispy_forms_tags %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block style_block %}
    .centering{
        text-align: center;
    }
    td {
    padding: 5px;
    }
{% endblock %}

{% block title %}НПО Поиск{% endblock %}

{% block content %}
<h1>Конструкторам</h1>
{% if user.is_authenticated == False %}
<p>Для доступа к системе Вам надо войти или зарегистрироваться</p>
{% else %}

{% endif %}
{% endblock %}

{% block navigating %}
<a href="/constructors/report/list/{{area_id}}/" class="btn btn-default">Наряды</a>
<a href="/constructors/equipment/list/{{area_id}}/" class="btn btn-default">Оснастка</a>
<a href="/constructors/material/list/{{area_id}}/" class="btn btn-default">Материалы</a>
<a href="/constructors/detail/list/{{area_id}}/" class="btn btn-info">Детали</a>
<a href="/constructors/assembly/list/{{area_id}}/" class="btn btn-default">Сборочные единицы</a>
<a href="/constructors/standartWork/list/" class="btn btn-default">Стандартные работы</a>
<a href="/constructors/shemes/list/" class="btn btn-default">Чертежи</a>
{% endblock %}

{% block sub_content %}

<br>


<div class="btn-group centering" >
    {% ifnotequal area_id one %}
    <a href="/stock/detail/list/0/" class="btn btn-info">Красное</a>
    <a href="/stock/detail/list/1/" class="btn btn-default">Малахит</a>
    {% else %}
    <a href="/stock/detail/list/0/" class="btn btn-default">Красное</a>
    <a href="/stock/detail/list/1/" class="btn btn-info">Малахит</a>
    {%endifnotequal%}
</div>

<br>
<br>
<form method="post">
     {% csrf_token %}
<table>
    <tr>
        <td> {%  bootstrap_field form.name %}</td>
    </tr>
</table>

    <input align="center" class="btn btn-primary" type="submit" value="Создать" class="button"/>
</form>
<br>
<br>

<table cellpadding="10" align="center" width="60%">
    {% for eq in eqs%}
    <tr>
        <td>{{ eq.name}}</td>
        <td>{{ eq.cnt}} {{eq.dimension}}</td>
        <td><a href="/constructors/detail/detail/{{ eq.id }}/" class="btn btn-default">Редактировать</a>
        <a href="/constructors/detail/remove/{{ eq.id }}/" class="btn btn-danger">Удалить</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block error_messages %}
{% endblock %}