{% extends "main/base.html" %}
{# Подгружаем статические файлы #}
{% load staticfiles %}
{# Подгружаем модули#}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block navigating %}
<a href="/constructors/" class="btn btn-default">Главная</a>
<a href="/constructors/stock_balance/{{area_id}}/" class="btn btn-default">Баланс на складе</a>

<a href="/constructors/tehnology/" class="btn btn-info">Технология</a>
<a href="/constructors/shemes/" class="btn btn-default">Чертежи</a>
{% endblock %}


{% block sub_content %}

<br>
<form method="post" class="formset_form">
    {% csrf_token %}

    {{ form.management_form }}
    <table width="90%" align="center">
        <tr>
            <td>{% bootstrap_field form.name %}</td>
            {% ifequal tsw eqType %}
            <td>{% bootstrap_field form.duration %}</td>
            {% else %}
            <td>{% bootstrap_field form.code %}</td>
            {% endifequal %}
            <td>{% bootstrap_field form.equipmentType %}</td>
        </tr>
        <tr>
            <td colspan="2">{% bootstrap_field form.scheme %}</td>
            <td> {% bootstrap_field form.needVIK %}</td>
        </tr>
    </table>

    {{ equipment_formset.management_form }}
    {{ gen_formset.management_form }}

    <table>
        <tr><td  valign ="top">
            <h2 align="center"> Зависит от: </h2>
            <table cellspacing="3" cellpadding="7" width="90%" align="center">
            <thead>
                <tr>
                    <td align="center">Оснастка</td>
                    <td align="center">Количество</td>
                </tr>
            </thead>
            {% for link_form in equipment_formset %}
                <tr class="equipment-formset">
                    <td valign="top">{% bootstrap_field link_form.equipment %}</td>
                    <td valign="top" width="20%">{% bootstrap_field link_form.cnt %}</td>
                </tr>
            {% endfor %}
            <div class="placeForAddBtn"></div>
            </table>
        </td>
        {% ifequal tsw eqType %}
        <td valign ="top">
            <h2 align="center"> Производит: </h2>
            <table cellspacing="3" cellpadding="7" width="90%" align="center">
            <thead>
                <tr>
                    <td align="center">Оснастка</td>
                    <td align="center">Количество</td>
                </tr>
            </thead>
            {% for link_form in gen_formset %}
                <tr class="gen_formset">
                <td valign="top">{% bootstrap_field link_form.equipment %}</td>
                <td valign="top" width="20%">{% bootstrap_field link_form.cnt %}</td>
            </tr>
        {% endfor %}
        <div class="placeForAddBtn"></div>
    </table>
    </td>
    {% endifequal %}
    </tr></table>
    <div align="center">
        <a href="/constructors/tehnology/" class="btn btn-default">Назад</a>
        <a href='/constructors/delete/{{eq_id}}/'  class="btn btn-danger" onclick="YNconfirm(); return false;">Удалить</a>
        <input align="center" class="btn btn-primary" type="submit" value="Сохранить" class="button"/>
    </div>
    <br>
    <a href="/constructors/" hidden id="deleteLin123"></a>
</form>

{% endblock %}
