{% extends "plan/base.html" %}
{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load crispy_forms_tags %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block title %}НПО Поиск{% endblock %}

{% block content %}
<h1>Конструкторам</h1>
{% if user.is_authenticated == False %}
<p>Для доступа к системе Вам надо войти или зарегистрироваться</p>
{% else %}

{% endif %}
{% endblock %}

{% block navigating %}
<a href="/constructors/" class="btn btn-default">Главная</a>
<a href="/constructors/stock_balance/{{area_id}}/" class="btn btn-default">Баланс на складе</a>

<a href="/constructors/tehnology/" class="btn btn-info">Технология</a>
<a href="/constructors/shemes/" class="btn btn-default">Чертежи</a>
{% endblock %}


{% block sub_content %}

<br>
<form method="post" class="formset_form">
    {% csrf_token %}

    {{ form.management_form }}
    <table width="90%" align="center">

        <tr>
            <td>{% bootstrap_field form.name %}</td>
            {% ifequal tsw eqType %}
            <td>{% bootstrap_field form.duration %}</td>
            {% else %}
            <td>{% bootstrap_field form.code %}</td>
            {% endifequal %}
            <td>{% bootstrap_field form.equipmentType %}</td>

        </tr>

        <tr>
            <td colspan="2">{% bootstrap_field form.scheme %}</td>
            <td> {% bootstrap_field form.needVIK %}</td>
        </tr>
    </table>

    {{ equipment_formset.management_form }}
{{ gen_formset.management_form }}

    <table><tr><td  valign ="top">
          <h2 align="center"> Зависит от: </h2>
    <table cellspacing="3" cellpadding="7" width="90%" align="center">
        <thead>
        <tr>
            <td align="center">Оснастка</td>
            <td align="center">Количество</td>
        </tr>
        </thead>
        <tr></tr>
        {% for link_form in equipment_formset %}
        <tr class="equipment-formset">
            <td valign="top">{% bootstrap_field link_form.equipment %}</td>
            <td valign="top" width="20%">{% bootstrap_field link_form.cnt %}</td>
        </tr>

        {% endfor %}
        <div class="placeForAddBtn"></div>
    </table>
    </td>
    {% ifequal tsw eqType %}
<td valign ="top">


    <h2 align="center"> Производит: </h2>
    <table cellspacing="3" cellpadding="7" width="90%" align="center">
        <thead>
        <tr>
            <td align="center">Оснастка</td>
            <td align="center">Количество</td>
        </tr>
        </thead>
        <tr></tr>
        {% for link_form in gen_formset %}
        <tr class="gen_formset">
            <td valign="top">{% bootstrap_field link_form.equipment %}</td>
            <td valign="top" width="20%">{% bootstrap_field link_form.cnt %}</td>
        </tr>

        {% endfor %}
        <div class="placeForAddBtn"></div>
    </table>
        </td>
     {% endifequal %}
        </tr></table>
    <div align="center">
        <a href="/constructors/tehnology/" class="btn btn-default">Назад</a>
        <a href='/constructors/delete/{{eq_id}}/'  class="btn btn-danger" onclick="YNconfirm(); return false;">Удалить</a>
        <input align="center" class="btn btn-primary" type="submit" value="Сохранить" class="button"/>
    </div>
    <br>
    <a href="/constructors/" hidden id="deleteLin123"></a>
</form>

 <link rel="stylesheet" type="text/css" href="bootstrap.min.css">

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="{% static '/scripts/jquery.select.formset.js' %}"></script>
<script>

    $('.equipment-formset').formset({
        addText: 'Добавить',
        deleteText: 'Удалить',
        prefix:'equipment',

    });

$('.gen_formset').formset({
        addText: 'Добавить',
        deleteText: 'Удалить',
        prefix:'gen',

    });

</script>
<script>

    function YNconfirm() {
 if (window.confirm('Вы уверены, что хотите удалить?'))
 {
   window.location.href = '/constructors/delete/{{eq_id}}/';
 }
}
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>
        $(document).ready(function (){
           $("#disease").select2({
             allowClear:true,
             placeholder: 'Поиск оборудования'
           });
               $("#disease2").select2({
             allowClear:true,
             placeholder: 'Поиск чертежей'
           });
        })


</script>


<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css">
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css">

<script type="text/javascript">
          $(".js-example-basic-multiple").select2();

</script>


{% endblock %}


{% block error_messages %}
{% endblock %}
