{% extends "plan/base.html" %}
{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load crispy_forms_tags %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block title %}НПО Поиск{% endblock %}

{% block content %}
<h1>Конструкторам</h1>
{% if user.is_authenticated == False %}
<p>Для доступа к системе Вам надо войти или зарегистрироваться</p>
{% else %}

{% endif %}
{% endblock %}

{% block navigating %}
<a href="/constructors/equipment/list/{{area_id}}/" class="btn btn-default">Оснастка</a>
<a href="/constructors/material/list/{{area_id}}/" class="btn btn-default">Материалы</a>
<a href="/constructors/detail/list/{{area_id}}/" class="btn btn-default">Детали</a>
 <a href="" class="btn btn-info">Редактировать</a>
<a href="/constructors/assembly/list/{{area_id}}/" class="btn btn-default">Сборочные единицы</a>
<a href="/constructors/standartWork/list/" class="btn btn-default">Стандартные работы</a>
<a href="/constructors/shemes/list/" class="btn btn-default">Чертежи</a>
{% endblock %}



{% block sub_content %}

<br>
<form method="post" class="formset_form">
    {% csrf_token %}

    {{ form.management_form }}
    <table>
        {% ifnotequal eqType  4 %}
        <tr>
             <td valign="top">{% bootstrap_field form.name %}</td>
             <td valign="top">{% bootstrap_field form.dimension %}</td>
             <td valign="top">{% bootstrap_field form.code %}</td>
        </tr>
        <tr>
              <td valign="top">{% bootstrap_field form.scheme %}</td>
        </tr>
        {% else %}
        <tr>
             <td valign="top">{% bootstrap_field form.text %}</td>
             <td valign="top">{% bootstrap_field form.positionsEnable %}</td>
             <td valign="top">{% bootstrap_field form.duration %}</td>
        </tr>
        {% endifnotequal %}
        <tr>
            <td >   {% bootstrap_field form.needVIK %}</td>
        </tr>
    </table>

    {{ equipment_formset.management_form }}
    {{ detail_formset.management_form }}
    {{ material_formset.management_form }}
    {{ assembly_formset.management_form }}
    {{ swork_formset.management_form }}
{% if eqType > 1 %}
    <h2 align="center"> Зависит от: </h2>
     {%endif%}
    <table>
        <tr>
            {% if eqType > 1 %}
            <td valign="top">
                <table cellspacing="3" cellpadding="7">
                    <thead>
                    <tr>
                        <td align="center">Оснастка</td>
                        <td align="center">Количество</td>
                    </tr>
                    </thead>
                    <tr></tr>
                    {% for link_form in equipment_formset %}
                    <tr class="equipment-formset">
                        <td valign="top">{% bootstrap_field link_form.equipment size='small'%}</td>
                        <td valign="top">{% bootstrap_field link_form.cnt  size='small'%}</td>
                    </tr>

                    {% endfor %}
                    <div class="placeForAddBtn"></div>
                </table>
            </td>
            {%endif%}
             {% if eqType > 1 %}
            <td valign="top">
                <table cellspacing="3" cellpadding="7">
                    <thead>
                    <tr>
                        <td align="center">Материалы</td>
                        <td align="center">Количество</td>
                    </tr>
                    </thead>
                    <tr></tr>
                    {% for link_form in material_formset %}
                    <tr class="material-formset">
                        <td valign="top">{% bootstrap_field link_form.equipment size='small' %}</td>
                        <td valign="top">{% bootstrap_field link_form.cnt size='small' %}</td>
                    </tr>

                    {% endfor %}
                    <div class="placeForAddBtn"></div>
                </table>
            </td>
            {%endif%}
            {% if eqType > 2 %}
            <td valign="top">
                <table cellspacing="3" cellpadding="7">
                    <thead>
                    <tr>
                        <td align="center">Детали</td>
                        <td align="center">Количество</td>
                    </tr>
                    </thead>
                    <tr></tr>
                    {% for link_form in detail_formset %}
                    <tr class="detail-formset">
                        <td valign="top">{% bootstrap_field link_form.equipment  size='small'%}</td>
                        <td valign="top">{% bootstrap_field link_form.cnt size='small' %}</td>
                    </tr>
                    {% endfor %}
                    <div class="placeForAddBtn"></div>
                </table>
            </td>
            {% endif %}
            {% if eqType > 2 %}
            <td valign="top">
                <table cellspacing="3" cellpadding="7">
                    <thead>
                    <tr>
                        <td align="center">Сб. единицы</td>
                        <td align="center">Количество</td>
                    </tr>
                    </thead>
                    <tr></tr>
                    {% for link_form in assembly_formset %}
                    <tr class="assembly-formset">
                        <td valign="top">{% bootstrap_field link_form.equipment size='small' %}</td>
                        <td valign="top">{% bootstrap_field link_form.cnt  size='small'%}</td>
                    </tr>
                    {% endfor %}
                    <div class="placeForAddBtn"></div>
                </table>
            </td>
            {% endif %}
            {% if eqType > 1 %}
            <td valign="top">
                <table cellspacing="3" cellpadding="7">
                    <thead>
                    <tr>
                        <td align="center">Работы</td>
                        <td align="center">Количество</td>
                    </tr>
                    </thead>
                    <tr></tr>
                    {% for link_form in swork_formset %}
                    <tr class="swork-formset">
                        <td valign="top">{% bootstrap_field link_form.standartWork size='small' %}</td>
                        <td valign="top">{% bootstrap_field link_form.cnt  size='small'%}</td>
                    </tr>
                    {% endfor %}
                    <div class="placeForAddBtn"></div>
                </table>
            </td>
            {%endif%}
        </tr>
    </table>
    <input align="center" class="btn btn-primary" type="submit" value="Сохранить" class="button"/>
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static '/scripts/jquery.formset.js' %}"></script>
<script>

    $('.equipment-formset').formset({
        addText: 'Добавить',
        deleteText: 'Удалить',
        prefix:'equipment',
    });

    $('.material-formset').formset({
        addText: 'Добавить',
        deleteText: 'Удалить',
        prefix:'material',
    });

    $('.detail-formset').formset({
        addText: 'Добавить',
        deleteText: 'Удалить',
        prefix:'detail',
    });

    $('.link-formset').formset({
        addText: 'Добавить',
        deleteText: 'Удалить',
        prefix:'equipment',
    });

    $('.assembly-formset').formset({
        addText: 'Добавить',
        deleteText: 'Удалить',
        prefix:'assembly',
    });
    $('.swork-formset').formset({
        addText: 'Добавить',
        deleteText: 'Удалить',
        prefix:'standart_work',
    });
</script>

{% endblock %}


{% block error_messages %}
{% endblock %}
