{% extends "plan/base.html" %}
{% load staticfiles %}
{# Load the tag library #}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load crispy_forms_tags %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block title %}НПО Поиск{% endblock %}

{% block content %}
<h1>Конструкторам</h1>
{% if user.is_authenticated == False %}
<p>Для доступа к системе Вам надо войти или зарегистрироваться</p>
{% else %}

{% endif %}
{% endblock %}

{% block navigating %}
<a href="/constructors/" class="btn btn-info">Главная</a>
<a href="/constructors/stock_balance/{{area_id}}/" class="btn btn-default">Баланс на складе</a>

<a href="/constructors/tehnology/" class="btn btn-default">Технология</a>
<a href="/constructors/shemes/" class="btn btn-default">Чертежи</a>
<a href="/constructors/workReports/" class="btn btn-default">Наряды</a>
{% endblock %}


{% block sub_content %}

<br>
<form method="post">
     {% csrf_token %}
<table>
    <tr>
        <td> {%  bootstrap_field form.author %}</td>
        <td> {%  bootstrap_field form.code %}</td>
        <td> {%  bootstrap_field form.link %}</td>
    </tr>
</table>

    <input align="center" class="btn btn-primary" type="submit" value="Добавить" class="button"/>
</form>

<br>
<br>
<table cellpadding="10" align="center" width="60%">
  {% for sch in schs%}
    <tr>

        <td><a href="{{sch.link}}">{{ sch.code}}</a></td>
        <td>{{ sch.author}}</td>
        <td><a href="/constructors/detail/standartWork/{{ eq.id }}/" class="btn btn-default">Редактировать</a>
        <a href="/constructors/remove/standartWork/{{ eq.id }}/" class="btn btn-danger">Удалить</a></td>
        <td></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}


{% block error_messages %}
{% endblock %}
