{% extends "plan/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}НПО Поиск{% endblock %}

{% block content %}
<h1>Конструкторам</h1>
    {% if user.is_authenticated == False %}
        <p>Для доступа к системе Вам надо войти или зарегистрироваться</p>
    {% else %}

    {% endif %}

{% endblock %}

{% block navigating %}
<a href="/constructors/reports/" class="btn btn-info">Наряды</a>
<a href="/constructors/list/equipment/0/0/" class="btn btn-default">Оборудование</a>
<a href="/constructors/list/equipment/1/0/" class="btn btn-default">Материалы</a>
<a href="/constructors/list/equipment/2/0/" class="btn btn-default">Детали</a>
<a href="/constructors/list/equipment/3/0/" class="btn btn-default">Сборочные единицы</a>
<a href="/constructors/list/standartWork/" class="btn btn-default">Стандартные работы</a>

{% endblock %}

{% block sub_content %}

    {% if user.is_authenticated == False %}

    {% else %}
        <table cellpadding="2">
        {% for report in reports %}
            <tr>
                <td>{{ report }}</td>
                <td> <a href="/workReport/print/{{report.pk}}/" class="btn">Печать</a></td>
                <td> <a href="/workReport/page1/{{report.pk}}/" class="btn">Просмотр</a></td>
                <td> <a href="/workReport/delete/{{report.pk}}/" class="btn">Удалить</a></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}