<html>
<head>
    <title>
        {% block title %}My amazing site{% endblock %}
    </title>
    <style>
        {% block style_block %}

        {%  endblock %}



    </style>

    {% block script_block %}

    {%  endblock %}


    <script src="/templates/bootstrap/js/bootstrap.js"></script>
    <script src="/templates/bootstrap/js/jquery.js"></script>
</head>

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">НПО Поиск</a>
        </div>

        <div class="navbar-collapse collapse" id="main-menu">
            <ul class="nav navbar-nav">
                 <li><a href="/workReport/list/0/" class="btn">Наряды</a></li>
                 <li><a href="/orders/list/0/" class="btn">Заказы</a></li>
                 <li><a href="/stock/report/list/0/" class="btn">Склад</a></li>
                 <li><a href="/constructors/" class="btn">Конструкторам</a></li>
                 <li><a href="/otk/report/list/0/" class="btn">ОТК</a></li>
                {% if user.is_authenticated == False %}

                {% else %}

                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated == False %}
                <li>
                    <form class="navbar-form" role="form" action="/../../." method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {% bootstrap_field login_form.username %}
                        </div>
                        <div class="form-group">
                            {% bootstrap_field login_form.password %}
                        </div>
                        <button type="submit" class="btn">Вход</button>
                    </form>
                </li>
                <li><a href="../../../register/" class="btn">Регистрация</a></li>

                {% else %}
                <li><a href="../../../logout/" class="btn">Выйти</a></li>
                {% endif %}
            </ul>

        </div><!--/.navbar-collapse -->

    </div>
</div>


<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">

        {% block content %}{% endblock %}
    </div>

</div>

<div class="btn-group btn-group-justified">
    {% block navigating %}{% endblock %}
</div>

{% block error_messages %}
<div class="container">
    {% if messages %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% for message in messages %}
            <div {% if message.tags %} class="alert {{ message.tags }}" {% endif %}>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}


{% block sub_content %}{% endblock %}

</body>


</html>