{% extends "main/base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block not_auth_content %}
    <form method="post" action="." class="register_form">
            {% csrf_token %}
            <br>
         {{ form.management_form }}
        <table align="center">

            <tr>
                <td>  {% bootstrap_field form.name %}</td>

                <td>  {% bootstrap_field form.patronymic %}</td>
                <td>  {% bootstrap_field form.second_name %}</td>
            </tr>
            <tr>
                <td>  {% bootstrap_field form.tnumber %}</td>
                <td colspan="2">  {% bootstrap_field form.mail %}</td>
            </tr>
             <tr>
                <td>  {% bootstrap_field form.username %}</td>
                <td>  {% bootstrap_field form.password %}</td>
                <td>  {% bootstrap_field form.rep_password %}</td>
            </tr>
        </table>

            <div align="center">
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Зарегистрироваться
                    </button>
                    <button type="reset" class="btn">
                        Отмена
                    </button>
                {% endbuttons %}
            </div>
        </form>
{% endblock %}