{% extends "plan/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Наряд{% endblock %}

{% block style_block %}
.register_form {
width: 500px;
margin: 0 auto;
}
{% endblock %}

{% block content %}


<br>
<br>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}

      <table>
        <thead>
        {% for form in formset.forms %}
            {% if forloop.first %}
                {% for field in form.as_p %}
                    <th>{{ field.label_tag }}</th>
                {% endfor %}
            {% endif %}
        {% endfor %}
            </thead>
            <tbody>
            {% for form in formset.forms %}
            <tr>
            {% for field in form %}
                <td >{{ field }}</td>
            {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

<div align="center">
        {% buttons %}
        <button type="submit" class="btn btn-primary">
            Дальше
        </button>
        <button type="reset" class="btn">
            Отмена
        </button>
        {% endbuttons %}
    </div>
</form>

{% endblock %}