{% extends "plan/base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block title %}Наряд{% endblock %}

{% block style_block %}
.register_form {
width: 500px;
margin: 0 auto;
}

select {
width: 300px; /* Ширина списка в пикселах */
}
{% endblock %}

{% block content %}


<br>
<br>
<form action="" method="post">
    {% csrf_token %}
    <table>
        <thead>
        {% for form in formset.forms %}
        {% if forloop.first %}
        {% for field in form %}
        <th>{{ field.label_tag }}</th>
        {% endfor %}
        {% endif %}
        </thead>
        <tbody>
        <tr>
            {% for field in form %}
            <td width="100">{{ field }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div align="center">
        {% buttons %}
        <button type="submit" class="btn btn-primary">
            Дальше
        </button>
        <button type="reset" class="btn">
            Отмена
        </button>
        {% endbuttons %}
    </div>
</form>
{% endblock %}