{% extends "main/base.html" %}
{# Подгружаем статические файлы #}
{% load staticfiles %}

{# Подгружаем модули#}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load crispy_forms_tags %}


{% comment %}
    Список переменных на странице:
    1) chooseForm  - форма выбора объекта/объектов из списка
    2) chooseLabel - текст на кнопке выбора
    3) chooseHeader - заголовок выбора
    4) creationForm - форма для создания
{% endcomment %}


{% block style_block %}

    .beautiful-select{
            width: 70%;  position: relative;top: 220px; left: 182px;
    }

{%  endblock %}

{% block sub_content %}

    {% block creationForm %}

    {% endblock %}

    {% block chooseForm %}
    <br>
    <H3 align="center">{{chooseHeader}}</H3>
    <br>
    <br>

    <form method="post" align="center" action=".">
        {% csrf_token %}
        {{ chooseForm.management_form }}
        <div align="center">
        {{ chooseForm}}
        <input align="center" class="btn btn-primary" type="submit" value="{{chooseLabel|default:"Выбрать"}}" class="button"/>
            </div>
    </form>
    {% endblock %}
{% endblock %}


{% block error_messages %}
{% endblock %}